<template name="login">
	 <div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" id="email" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" id="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <label><a href ="{{pathFor 'forgotpassword'}}"> Forgot Password </a>
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
      
      <a class="btn btn-lg btn-primary btn-block" href="{{pathFor 'signup'}}">Sign Up</a>         
      
    </form>
  </div>
</template>